.no-data {
    background-color: lightgray;
    color: black;
  }
  
  .short-wait {
    background-color: lightseagreen;
    color: black;
  }
  
  .medium-wait {
    background-color: lightsalmon;
    color: black;
  }
  
  .long-wait {
    background-color: lightcoral;
    color: black;
  }